@import url('https://fonts.googleapis.com/css2?family=Erica+One&display=swap');

.buttonBar {
  background-color: #434544;
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
  height: 60px;
}

#volume {
  float: right;
  margin-right: 5px;
}

.fa-play-circle{
  font-size: 30px;
}
.fa-pause-circle{
  font-size: 30px;
}



.card-footer{
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  
}
.container{
  width: 500px;
  margin-top: 10px;

}


.slider{
  height: 5px;
}

.btn{
  height: 40px;
}

