@import url('https://fonts.googleapis.com/css2?family=Erica+One&display=swap');

.buttonBar {
  background-color: #434544;
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
  height: 60px;
}

#volume {
  float: right;
  margin-right: 5px;
}

.fa-play-circle{
  font-size: 30px;
}
.lowBar{
  height: 40px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.container{
  width: 600px;
  margin-top: 10px;
border-radius: 20px;
}

.card{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.fa-spotify{
  color: white;
  font-size: 45px;
}
.spotify{
  font-family: 'Erica One', cursive;
  font-size: 45px;
  color: white;
}
.slider{
  height: 5px;
}

.btn{
  height: 40px;
}

